extends ./layout/index

block contenido
    main.container.mt-5 
        .row 
            .col-md-5 
               img(src=`/img/destinos_${resultado.imagen}_ln.jpg`, alt="imagen viaje", class="img-fluid")
            .col-md-7
                h1= resultado.titulo 
                
                p  
                    svg.icon.icon-tabler.icon-tabler-calendar-time(xmlns='http://www.w3.org/2000/svg' width='44' height='44' viewbox='0 0 24 24' stroke-width='1.5' stroke='#2c3e50' fill='none' stroke-linecap='round' stroke-linejoin='round')
                      path(stroke='none' d='M0 0h24v24H0z' fill='none')
                      path(d='M11.795 21h-6.795a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v4')
                      circle(cx='18' cy='18' r='4')
                      path(d='M15 3v4')
                      path(d='M7 3v4')
                      path(d='M3 11h16')
                      path(d='M18 16.496v1.504l1 1')
                    |     Desde   #{resultado.fecha_ida}   hasta   #{resultado.fecha_vuelta}

                p 
                    svg.icon.icon-tabler.icon-tabler-currency-dollar(xmlns='http://www.w3.org/2000/svg' width='44' height='44' viewbox='0 0 24 24' stroke-width='1.5' stroke='#2c3e50' fill='none' stroke-linecap='round' stroke-linejoin='round')
                      path(stroke='none' d='M0 0h24v24H0z' fill='none')
                      path(d='M16.7 8a3 3 0 0 0 -2.7 -2h-4a3 3 0 0 0 0 6h4a3 3 0 0 1 0 6h-4a3 3 0 0 1 -2.7 -2')
                      path(d='M12 3v3m0 12v3')
                    |   $#{resultado.precio}
    
                p 
                    svg.icon.icon-tabler.icon-tabler-plane-departure(xmlns='http://www.w3.org/2000/svg' width='44' height='44' viewbox='0 0 24 24' stroke-width='1.5' stroke='#2c3e50' fill='none' stroke-linecap='round' stroke-linejoin='round')
                      path(stroke='none' d='M0 0h24v24H0z' fill='none')
                      path(d='M15 12h5a2 2 0 0 1 0 4h-15l-3 -6h3l2 2h3l-2 -7h3z' transform='rotate(-15 12 12) translate(0 -1)')
                      line(x1='3' y1='21' x2='21' y2='21')

                    |    #{resultado.disponibles} pasajes disponibles!
                p= resultado.descripcion.substr(0, 600)
                       